<template id="modal-box-template">
    {{isModalOpen}}
    <div @click="closeModal" v-show="isModalOpen" class="Modal u-overlay">
        <div @click.stop="" v-show="isModalOpen" class="Modal__container">
            <header class="Modal__header">
                <h1>
                    {{article.title}}
                </h1>
            </header>

            <div class="Modal__content">
                <p>{{article.description}}</p>
            </div>

            <footer class="Modal__footer">
                <button @click="closeModal">close</button>
                <a :href="article.link" target="_blank"><button @click="closeModal">Go to feed page</button></a>
            </footer>
        </div>
    </div>
</template>

<script>
    module.exports = {
        template: '#modal-box-template',

        props: ['title'],

        computed: {
            isModalOpen: function() {
                return this.$parent.modalIsOpen;
            },
            article: function(){
                return this.$parent.modalObj;
            }
        },

        methods: {
            closeModal: function() {
                this.$parent.modalIsOpen = false;
            }
        }
    }
</script>

<style>
    /*.modal-mask {*/
        /*position: fixed;*/
        /*z-index: 9998;*/
        /*top: 0;*/
        /*left: 0;*/
        /*width: 100%;*/
        /*height: 100%;*/
        /*background-color: rgba(0, 0, 0, .5);*/
        /*display: table;*/
        /*transition: opacity .3s ease;*/
    /*}*/

    /*.modal-wrapper {*/
        /*display: table-cell;*/
        /*vertical-align: middle;*/
    /*}*/

    /*.modal-container {*/
        /*width: 300px;*/
        /*margin: 0px auto;*/
        /*padding: 20px 30px;*/
        /*background-color: #fff;*/
        /*border-radius: 2px;*/
        /*box-shadow: 0 2px 8px rgba(0, 0, 0, .33);*/
        /*transition: all .3s ease;*/
        /*font-family: Helvetica, Arial, sans-serif;*/
    /*}*/

    /*.modal-header h3 {*/
        /*margin-top: 0;*/
        /*color: #42b983;*/
    /*}*/

    /*.modal-body {*/
        /*margin: 20px 0;*/
    /*}*/

    /*.modal-default-button {*/
        /*float: right;*/
    /*}*/

    /*!**/
     /** The following styles are auto-applied to elements with*/
     /** transition="modal" when their visibility is toggled*/
     /** by Vue.js.*/
     /***/
     /** You can easily play with the modal transition by editing*/
     /** these styles.*/
     /**!*/

    /*.modal-enter {*/
        /*opacity: 0;*/
    /*}*/

    /*.modal-leave-active {*/
        /*opacity: 0;*/
    /*}*/

    /*.modal-enter .modal-container,*/
    /*.modal-leave-active .modal-container {*/
        /*-webkit-transform: scale(1.1);*/
        /*transform: scale(1.1);*/
    /*}*/


    html, body {
        height: 100%;
    }

    body {
        margin: 0;
        padding: 0;
        width: 100%;
        display: table;
        font-weight: 100;
        font-family: 'Lato';
    }

    .container {
        text-align: center;
        display: table-cell;
        vertical-align: middle;
    }

    .content {
        text-align: center;
        display: inline-block;
    }

    .title {
        font-size: 96px;
    }

    .Modal__container {
        max-width: 700px;
        width: 90%;
        background: white;
        border-radius: 2px;
        animation-duration: 0.3s;
        animation-delay: 0s;
    }

    .Modal__header {
        border-bottom: 1px solid white;
        padding: 15px 10px;
        background-color: silver;
        color: white;
        border-radius: 2px;
    }

    .Modal__header > h1 {
        font-size: 27px;
        font-weight: normal;
        margin: 0;
    }

    .Modal__content {
        padding: 10px;
    }

    .Modal__footer {
        padding: 5px;
    }

    .u-overlay {
        position: fixed;
        z-index: 1000;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.8);
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .naked-link {
        color: inherit;
        text-decoration: inherit;
    }
</style>