<template >
    <div class="container">
        <div class="row">
            <!--<button id="show-show" @click="showModal('foo')">Show Foo</button>-->
            <modal-box title="First Modal">
            </modal-box>

            <div class="col-lg-10 col-lg-offset-1">
                <div class="panel panel-default">
                    <div class="panel-heading">News</div>
                    <div class="panel-body" >
                        <input type="text" v-model="filter" class="form-control" placeholder="Filter Categories">
                        <div class="panel panel-default"v-for="category in filteredItems">
                            <div class="panel-heading"> {{category}}</div>
                            <div class="panel-body" >

                                <div v-for="article,index in articles" class="content" v-if="category==article.category">
                                    <!--<div v-if="category==article.category">-->
                                        <img  :src="article.image" :alt="article.title" >
                                        <h3 @click="showModal(index)" style="cursor:pointer;"> {{article.title}}</h3>
                                        <p>{{article.description}}</p>
                                        <p><a :href="article.feedProvider" target="_blank">{{article.feedProvider}}</a></p>
                                    <!--</div>-->
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</template>

<script>
    module.exports = {
        data(){
            return  {
                articles:[],
                filter:"",
//                showModal:false,
                modalObj:{},
                modalIsOpen:false,
                categories:[]
            }
        },
        mounted() {
            this.fetchArticles();
        },

        methods:
        {

            fetchArticles() {
                this.$http.get("/api/v1/articles.json").then((response) => {
                    var self = this;
                            response.body.forEach(function ($item) {
                                if (self.categories.indexOf($item.category)<0) {
                                    self.categories.push($item.category);
                                }
                            })
                            this.articles = response.body;
                            console.log(response);

                        }, (error) => console.log(error));
            },
            showModal: function(id) {
                this.modalObj = this.articles[id];
                this.modalIsOpen=true;

            }
        },
        computed: {
            filteredItems() {
                var self = this;
                return  this.categories.filter(function(item) {
                    return item.toLowerCase().indexOf(self.filter.toLowerCase()) > -1});
            },
        },
        components:{
            "modal-box" : require('../components/Modal.vue')
        }

    }
</script>

<style>
    .content {
        width: 100%;
        /*border: 1px solid #636b6f;*/
        padding: 20px;
        overflow: hidden;
    }

    .content img {
        margin-right: 15px;
        float: left;
    }
</style>
