footer.footer {
  //height: 300px;
  width: 100%;
  background-color: #333333;
}

p.copyright {
  margin:auto;
  text-align: center;
  width: 50%;
  color: #fff;
  line-height: 40px;
  font-size: 0.7em;
}